# Segmenting and Clustering Neighborhoods in Toronto 
### Assignment part 1

In this notebook, the first task of IBM's module assignment 'Segmenting and Clustering Neighborhoods in Toronto' is accomplished:
  * reading the wikipedia table into a pandas dataframe
  * prepare the dataframe

In [70]:
#importing pandas
import pandas as pd

In [71]:
#read the Wikipedia table into a dataframe
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
print("Shape of dataframe:", df.shape)
df.head()

Shape of dataframe: (180, 3)

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [72]:
#drop rows where borough is not assigned
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)
df.reset_index(drop=True, inplace=True)
print("Shape of dataframe:", df.shape)
df.head()

Shape of dataframe: (103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [73]:
#not assigned neighbourhoods get same name as borough (even though this circumstance doesn't occure)
df.loc[df['Neighbourhood'].eq('Not assigned'), 'Neighbourhood'] = df['Borough']
print("Shape of dataframe:", df.shape)
df.head()

Shape of dataframe: (103, 3)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [74]:
#group neighbourhoods with same postal code

#first, let's see if there are multiple rows with the same postal code
df_group = df.groupby(['Postal Code']).count() 
df_group.sort_values(by=['Neighbourhood'], ascending=False)
dublicates = df_group.loc[df_group['Neighbourhood']>1].shape[0]
print('There are', dublicates, 'postal codes that appear more than once.')
df_group.head()

There are 0 postal codes that appear more than once.

             Borough  Neighbourhood
Postal Code
M1B                1              1
M1C                1              1
M1E                1              1
M1G                1              1
M1H                1              1

The table 'df_group' in descending order shows that there is only one row for each postal code in the df dataframe. Therefore, no modification on df is needed as all neighbourhoods are already grouped in one row with the corresponding postal code!

In [78]:
#print number of rows of df dataframe
rows = df.shape[0]
print("There are", rows, "rows in the dataframe.")

There are 103 rows in the dataframe.